# Latex
*.aux
*.log
*.synctex.gz
*.out
*.dvi

# PPT
*.pptx

# vscode
.vscode/

# CMAKE
/*/build/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

# bin
/*/bin/
/*/pic/

# MacOSX
*.DS_Store

# ROS
build/
devel/
install/
.catkin_workspace
devel_isolated/
el/
el_isolated/
